<!DOCTYPE >
  <head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png"> 
    <link rel= 'stylesheet' href="/css/app.css">
  </head>
<html>
    <body>
        <div class= "main-content">
            {{>header}}
            <h4>{{errorMessage}}</h4>
        </div>
          {{>footer}}
    </body>
</html>
