<!DOCTYPE >
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel= 'stylesheet' href="/css/app.css">
  </head>
<html>
  
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src='/img/photo.png'>
    </div>
    {{>footer}}
  </body>
  
  
</html>
