<!DOCTYPE >
  <head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel= 'stylesheet' href="/css/app.css">
  </head>
<html>
  {{>header}}
  <h3>{{helpText}}</h3>
  {{>footer}}
</html>
